/* CSS for Homework Assignment 5
   jQuery - Trivia Game
   Rhonda Johnson */


/* * {
    overflow: auto;
}*/

html, body { 
    margin: 0; 
    padding: 0;     
    background-image: url("../images/rubiksCube.jpg");
    height: 90%;
}

h1, h2, h3, h4{
    font-family: "Comic Sans MS", cursive, sans-serif;	
    font-weight: 800;
}

h1{
    font-weight: 800;
}

.hideItem{
    visibility: hidden;
}

.underline {
    text-decoration: underline;
}

.hoverItem:hover {
    background: #d0dbdd;
    cursor: pointer;
}

.headerColor{
    /*color: rgb(28, 176, 187);*/
    color: purple;
}

.red{
    color: #f52a2aec;
}

.center{
    text-align: center;
}

#wrapper {
	width: 100%;
	max-width:960px;
    margin: 0 auto;
    height: 100%;    
}

#gameTitle{
    margin-left: 5%;
    margin-right: 5%;
}

#firtChoice,
#secondChoice,
#thirdChoice,
#fourthChoice{
    margin-left: auto;
    margin-right: auto;
}

#imageContainer{
    margin-bottom: 20px;
}

#currentImage{
    width: 250px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;    
    z-index: 99;
}

#mainContainer{
    width: 90%;
    border: 3px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    background-image: url("../images/swirl2Background.jpg");
   /* background-color: pink;*/   
}

/* media queries */
@media screen and (max-width:768px){
    #wrapper {
        max-width: 768px;
     }
}


@media screen and (max-width:640px){
    #wrapper {
         max-width: 640px;
    }
}